<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="A:serilog:using:RabbitMQ" value="Serilog.Sinks.RabbitMQ"/>
    <add key="A:serilog:audit-to:RabbitMQ.hostname" value="rabbitmq.local"/>
    <add key="A:serilog:audit-to:RabbitMQ.username" value="serilog"/>
    <add key="A:serilog:audit-to:RabbitMQ.password" value="serilog"/>
    <add key="A:serilog:audit-to:RabbitMQ.exchange" value="AuditExchange"/>

    <add key="W:serilog:using:RabbitMQ" value="Serilog.Sinks.RabbitMQ"/>
    <add key="W:serilog:write-to:RabbitMQ.hostname" value="localhost"/>
    <add key="W:serilog:write-to:RabbitMQ.username" value="guest"/>
    <add key="W:serilog:write-to:RabbitMQ.password" value="guest"/>
    <add key="W:serilog:write-to:RabbitMQ.exchange" value="LogExchange"/>
    <add key="W:serilog:write-to:RabbitMQ.batchPostingLimit" value="50"/>
    <add key="W:serilog:write-to:RabbitMQ.period" value="00:00:02"/>

    <add key="R:serilog:using:RabbitMQ" value="Serilog.Sinks.RabbitMQ"/>
    <add key="R:serilog:write-to:RabbitMQ.amqpUri" value="NamedConnection"/>

    <add key="H:serilog:using:RabbitMQ" value="Serilog.Sinks.RabbitMQ"/>
    <add key="H:serilog:write-to:RabbitMQ.hostname" value="localhost,127.0.0.1"/>
    <add key="H:serilog:write-to:RabbitMQ.username" value="guest"/>
    <add key="H:serilog:write-to:RabbitMQ.password" value="guest"/>
    <add key="H:serilog:write-to:RabbitMQ.exchange" value="LogExchange"/>
    <add key="H:serilog:write-to:RabbitMQ.batchPostingLimit" value="50"/>
    <add key="H:serilog:write-to:RabbitMQ.period" value="00:00:02"/>
  </appSettings>
  <connectionStrings>
    <add name="NamedConnection" connectionString="amqp://localhost" />
  </connectionStrings>
</configuration>