version: 2
updates:

- package-ecosystem: "nuget"
  directories:
    - src
    - samples
    - tests
  schedule:
    interval: "daily"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
