version: '{build}'  
pull_requests:  
  do_not_increment_build_number: true
branches:  
  only:
  - master
nuget:  
  disable_publish_on_pr: true
build_script:  
- ps: .\Build.ps1
test: off  
artifacts:  
- path: artifacts/*.nupkg
  name: NuGet
deploy:  
- provider: NuGet
  server: https://www.myget.org/F/temp-forks/api/v2/package
  api_key:
    secure: VcEqx1411TqpedhBjftqTYyIKcd+tZKvXlxQEnEFC4ashyitwS7Zy/s4HU5DxASU
  skip_symbols: true
  on:
    branch: master
- provider: NuGet
  name: production
  api_key:
    secure: JXj9vT5r0m1y63TxurMG5n2OUWmOyEzOJILIVyeKF2bmgshuMvosVv5pqpTaciHi
  on:
    branch: master
    appveyor_repo_tag: true
