<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="A:serilog:using:RabbitMQ" value="Serilog.Sinks.RabbitMQ"/>
    <add key="A:serilog:audit-to:RabbitMQ.hostnames" value="localhost"/>
    <add key="A:serilog:audit-to:RabbitMQ.username" value="serilog"/>
    <add key="A:serilog:audit-to:RabbitMQ.password" value="serilog"/>
    <add key="A:serilog:audit-to:RabbitMQ.exchange" value="serilog-settings-sink-audit-exchange"/>
    <add key="A:serilog:audit-to:RabbitMQ.exchangeType" value="direct"/>
    <add key="A:serilog:audit-to:RabbitMQ.deliveryMode" value="NonDurable"/>
    <add key="A:serilog:audit-to:RabbitMQ.maxChannels" value="32"/>

    <add key="W:serilog:using:RabbitMQ" value="Serilog.Sinks.RabbitMQ"/>
    <add key="W:serilog:write-to:RabbitMQ.hostnames" value="localhost"/>
    <add key="W:serilog:write-to:RabbitMQ.username" value="serilog"/>
    <add key="W:serilog:write-to:RabbitMQ.password" value="serilog"/>
    <add key="W:serilog:write-to:RabbitMQ.exchange" value="serilog-settings-sink-exchange"/>
    <add key="W:serilog:write-to:RabbitMQ.batchPostingLimit" value="50"/>
    <add key="W:serilog:write-to:RabbitMQ.period" value="00:00:02"/>

    <add key="H:serilog:using:RabbitMQ" value="Serilog.Sinks.RabbitMQ"/>
    <add key="H:serilog:write-to:RabbitMQ.hostnames" value="localhost,127.0.0.1"/>
    <add key="H:serilog:write-to:RabbitMQ.username" value="serilog"/>
    <add key="H:serilog:write-to:RabbitMQ.password" value="serilog"/>
    <add key="H:serilog:write-to:RabbitMQ.exchange" value="serilog-settings-sink-exchange"/>
    <add key="H:serilog:write-to:RabbitMQ.batchPostingLimit" value="50"/>
    <add key="H:serilog:write-to:RabbitMQ.period" value="00:00:02"/>
  </appSettings>
</configuration>