<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for tests" Description="Turn off rules not applicable for unit tests." ToolsVersion="15.0">
  <Include Path="Custom.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1707" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.VisualStudio.Threading.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="VSTHRD200" Action="None" />
  </Rules>
</RuleSet>
